* {
  margin: 0;
  padding: 0;
  border: border-box;

}

body {
  background-color: #4d79bc;
}

.gameTips {
  border: 2px solid black;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  left: 0;
  width: 200px;
  padding: 15px;
  margin: 5px;
}

/* .gameRules {
  border: 2px solid black;
  top: 0;
  right: 0;
  width: 100px;
  padding: 15px;
  margin: 5px;
} */


#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4d79bc;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Bangers', cursive;
}

#layer1,
#layer2,
#layer3,
#layer4 {
  display: none;
}

#player {
  display: none;
}

#angler1,
#angler2,
#lucky,
#hivewhale,
#drone,
#bulbwhale,
#moonfish,
#stalker,
#razorfin {
  display: none;
}

#projectile,
#gears,
#smokeExplosion,
#fireExplosion,
#shieldImage,
#fireball {
  display: none;
}
